* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    touch-action: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}




#divfix {
       position: fixed;
       z-index: 3000;
}

canvas {
    touch-action: none;
  }